<div class="sentDemand">
    <div class="divider"></div>
    <div class="box newDemand editForm inactive">
        <form class="ajax">
            <div class="head">
                <div class="left">
                    <span class="title">Z jazyka: </span>
                    <div class="selectBox">
                        <div class="button selectLangButton">
                            <span>CZ</span>
                            <div class="arrowBottom"></div>
                        </div>
                        <ul class="submenu selectLangBox">
                            <li>EN</li>
                            <li>SK</li>
                            <li>RO</li>
                            <li>SI</li>
                            <li>CH</li>
                            <li>HU</li>
                            <li class="inactive">CZ</li>
                        </ul>
                    </div>
                    <div class="space"></div>
                    <span class="title">Přeložit do:</span>
                    <div class="button">
                        <span>EN</span>
                        <input name="en" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button">
                        <span>SK</span>
                        <input name="sk" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button">
                        <span>RO</span>
                        <input name="ro" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button">
                        <span>SI</span>
                        <input name="si" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button">
                        <span>CH</span>
                        <input name="ch" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button">
                        <span>HU</span>
                        <input name="hu" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="button inactive">
                        <span>CZ</span>
                        <input name="cz" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="separator"></div>
                    <div class="space"></div>
                    <span class="title">Kategorie:</span>
                    <div class="selectBox">
                        <div class="button selectCategoryButton" data-lock="0">
                            <span>Facebook</span>
                            <div class="arrowBottom"></div>
                        </div>
                        <ul class="submenu selectCategoryBox">
                            <li>Adwords</li>
                            <li class="inactive">Facebook</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="width65 paddingRight7px inputArea">
                <textarea spellcheck="false" placeholder="Zde zadejte text, který chcete nechat přeložit..." rows="4" cols="50"></textarea>
            </div>
            <div class="width35 paddingLeft7px">
                <textarea spellcheck="false" placeholder="Zde můžete zadat poznámku..."></textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="left">
                    <span class="title">
                        Upomínka:
                    </span>
                    <div class="button">
                        <span>Je to urgentní</span>
                        <input name="urgent" type="checkbox" class="checkbox" data-check="false">
                        <label for=""></label>
                    </div>
                    <div class="separator"></div>
                    <div class="space"></div>
                    <span class="title">
                        Akce:
                    </span>
                    <input type="submit" class="button greenButton" value="Uložit">
                    <div class="button delete">Odstranit</div>
                    <div class="button cancel">Zrušit úpravy</div>
                    <a n:href="signal!" class="ajax signalDelete"></a>
                </div>
            </div>
        </form>
    </div>
    <div class="owlCarousel">
        <div class="item box">
             <div class="head">
                <div class="left">
                    <span>CZ</span>
                    <div class="separator"></div>
                    <span>Filip Řeha</span>
                    <div class="separator"></div>
                    <span>Instagram</span>
                </div>
                <div class="right">
                    <svg rel="tooltip" title="Urgentní" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                        <g>
                            <path fill="#e2e2e2" d="M21.818,18.727L11.89,1.499C11.709,1.181,11.391,1,11.028,1c-0.363,0-0.68,0.181-0.861,0.499L0.147,18.816
                                    c-0.454,0.771,0.227,1.496,0.861,1.496h20.039c0.544,0,0.952-0.453,0.952-0.996C22,19.09,21.955,18.908,21.818,18.727z
                                     M2.731,18.318l8.297-14.372l8.297,14.372H2.731z"/>
                            <path fill="#e2e2e2" d="M10.031,8.39v4.397c0,0.545,0.454,0.998,0.998,0.998s0.997-0.453,0.997-0.998V8.39
                                    c0-0.544-0.453-0.998-0.997-0.998S10.031,7.846,10.031,8.39z"/>
                            <path fill="#e2e2e2" d="M11.028,14.646c-0.68,0-1.224,0.543-1.224,1.225c0,0.68,0.544,1.27,1.224,1.27
                                    c0.681,0,1.224-0.59,1.224-1.27C12.252,15.189,11.709,14.646,11.028,14.646z"/>
                        </g>
                    </svg>
                    <svg rel="tooltip" title="S upozorněním" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#e2e2e2">	
                            <path fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" d="M5.182,6.898c0-3.05,2.473-5.522,5.522-5.522
                            c3.051,0,5.523,2.472,5.523,5.522"></path>
                            <path fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" d="M13.581,17.551
                                    c0,1.565-1.271,2.837-2.837,2.837c-1.569,0-2.837-1.271-2.837-2.837"></path>
                            <rect x="16.27" y="12.143" transform="matrix(0.8968 -0.4424 0.4424 0.8968 -4.7538 9.151)" width="2" height="5.248"></rect>
                            <rect x="3.201" y="12.143" transform="matrix(-0.8968 -0.4425 0.4425 -0.8968 1.3794 29.856)" width="2" height="5.248"></rect>
                            <rect x="2.68" y="15.769" width="16.065" height="1.933"></rect>
                            <polygon points="1.515,17.701 3.14,14.886 4.765,17.701"></polygon>
                            <polygon points="16.735,17.701 18.36,14.886 19.986,17.701"></polygon>
                            <rect x="4.172" y="6.738" width="2" height="6.11"></rect>
                            <rect x="15.211" y="6.738" width="2" height="6.11"></rect>
                        </g>
                    </svg>
                    <svg rel="tooltip" title="Pellentesque sapien. Sed ut perspiciatis unde omnis iste natus error sit voluptatem." version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px"
                        height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                        <g>
                            <rect x="1" y="1" fill="none" stroke="#e2e2e2 " stroke-width="2" stroke-miterlimit="10" width="20" height="19"/>
                            <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="6" x2="18" y2="6"/>
                            <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="10" x2="18" y2="10"/>
                            <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="14" x2="13" y2="14"/>
                        </g>
                    </svg>
                    <svg rel="tooltip" title="Všechny texty jsou přeloženy" version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                        <g>
                            <path fill="#e2e2e2 " d="M11.063,0C4.978,0,0,4.95,0,11c0,6.051,4.978,11,11.063,11c6.085,0,11.063-4.949,11.063-11
                                C22.125,4.95,17.147,0,11.063,0z M8.85,16.5L3.319,11l1.549-1.54l3.982,3.96l8.408-8.359L18.806,6.6L8.85,16.5z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <textarea spellcheck="false" readonly="readonly" rows="4" cols="50">Etiam dictum tincidunt diam. Maecenas lorem. Etiam neque. Aliquam ornare wisi eu metus. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo.</textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="action">
                    <div class="button editDemand">Upravit</div>
                </div>
                <div class="datetime">
                    Zadáno 10.12.2016 v 14:05.
                </div>
            </div>
        </div>
        <div class="item box">
            <div class="head">
                <div class="left">
                    <span>EN</span>
                    <div class="separator"></div>
                    <span>Lukáš Komárek</span>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <textarea spellcheck="false" readonly="readonly" rows="4" cols="50">Text zatím nebyl přeložen.</textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="action">
                    <div class="button notify">
                        Upozornit překladatele
                    </div>
                    <a n:href="signal!" class="ajax signalNotify"></a>
                </div>
            </div>
        </div>
        <div class="item box">
            <div class="head">
                <div class="left">
                    <span>SK</span>
                    <div class="separator"></div>
                    <span>Radim Nykl</span>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <textarea spellcheck="false" readonly="readonly" rows="4" cols="50">Text zatím nebyl přeložen.</textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="action">
                    <a href="#" class="notify button">Upozornit překladatele</a>
                </div>
            </div>
        </div>
        <div class="item box">
            <div class="head">
                <div class="left">
                    <span>RO</span>
                    <div class="separator"></div>
                    <span>Marko Vykoual</span>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <textarea spellcheck="false" readonly="readonly" rows="4" cols="50">Text zatím nebyl přeložen.</textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="action">
                    <a href="#" class="notify button">Upozornit překladatele</a>
                </div>
            </div>
        </div>
        <div class="item box">
            <div class="head">
                <div class="left">
                    <span>CH</span>
                    <div class="separator"></div>
                    <span>Karolína Macurová</span>
                </div>
            </div>
            <div class="divider"></div>
            <div>
                <textarea spellcheck="false" readonly="readonly" rows="4" cols="50">Text zatím nebyl přeložen.</textarea>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="action">
                    <a href="#" class="notify button">Upozornit překladatele</a>
                </div>
            </div>
        </div>
    </div>
</div>