<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>{block title}translator{/block}</title>
            <link rel="stylesheet" href="{$basePath}/css/css-min.css">
            <link rel="shortcut icon" href="{$basePath}/favicon.ico">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
            {block head}{/block}
    </head>

    <body>
            {snippet flashMessages}
            {if $flashes}
                <div class="popup">
                    <div class="blackWrap"></div>
                    <div class="inner">
                        <div class="bgWhite">
                            <div n:foreach="$flashes as $flash" class="message">
                                {$flash->message}
                            </div>
                            <div class="closeCross">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                                    <g>
                                        <title>Close</title>
                                        <g>
                                            <polygon fill="#333" points="27.5,3.9707531929016113 26.050697326660156,2.5246334075927734 15,13.554244995117188 3.949261426925659,2.5246334075927734 2.5,3.9707531929016113 13.550732612609863,15.000450134277344 2.5,26.029293060302734 3.949261426925659,27.475366592407227 15,16.446531295776367 26.050697326660156,27.475366592407227 27.5,26.029293060302734 16.448490142822266,15.000450134277344 "></polygon>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="{$basePath}/js/ajax/flashMessage.js"></script>
            {/if}
            {/snippet}

            {include content}

            {block scripts}
            <script src="{$basePath}/js/js-min.js"></script>
            {/block}
    </body>
</html>
