{block content}

{include '../components/ledge.latte'}

<div class="inner">
    <div class="login">
        <h2>Přihlášení</h2>
        <div class="box">
            {control loginControl}
        </div>
    </div>
</div>