{snippet newDemandForm}
<form n:name="newDemandForm" class="ajax">
    
    {formContainer replicator}
        {foreach $formContainer->getComponents() as $container}
            {formContainer $container}
                <div class="box newDemand">
                    <div class="head">
                        <div class="left">
                            <span class="title">Z jazyka: </span>
                            <div class="selectBox">
                                <div class="button selectLangButton" data-lock="0">
                                    <span>{$firstLangValue}</span>
                                    <div class="arrowBottom"></div>
                                    <input n:name="langFrom" type="hidden">
                                </div>
                                <ul class="submenu selectLangBox">
                                {foreach $form[replicator][$container->name][langTo]->getItems() as $key => $label}
                                    <li data-id="{$key}" class="{if $iterator->first}inactive{/if}">{$label}</li>
                                {/foreach}
                                </ul>
                            </div>
                            <div class="space"></div>
                            <span class="title">Přeložit do:</span>
                            {foreach $form[replicator][$container->name][langTo]->getItems() as $key => $label}
                                <div class="button {if $iterator->first}inactive{/if}">
                                    <span>{$label}</span>
                                    <input type="checkbox" n:name="langTo:$key" class="checkbox" data-check="false">
                                    <label n:name="langTo:$key"></label>
                                </div>
                            {/foreach}
                            <div class="separator"></div>
                            <div class="space"></div>
                            <span class="title">Kategorie:</span>
                            <div class="selectBox">
                                <div class="button selectCategoryButton" data-lock="0">
                                    <span>{$firstCategoryValue}</span>
                                    <div class="arrowBottom"></div>
                                    <input n:name="category" type="hidden">
                                </div>
                                <ul class="submenu selectCategoryBox">
                                    {foreach $categories as $key => $category}
                                    <li data-id="{$key}" class="{if $iterator->first}inactive{/if}">{$category}</li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="tabs">
                        <li class="button active">Text</li>
                        <li class="button file">Soubor</li>
                    </ul>
                    <div class="width65 paddingRight7px inputArea">
                        <textarea n:name="text" spellcheck="false" placeholder="Zde zadejte text, který chcete nechat přeložit..." rows="4" cols="50"></textarea>
                        <input n:name="file" type="file" class="inactive">
                    </div>
                    <div class="width35 paddingLeft7px">
                        <textarea n:name="note" spellcheck="false" placeholder="Zde můžete zadat poznámku..."></textarea>
                    </div>
                    <div class="divider"></div>
                    <div class="bottom">
                        <div class="left">
                            <span class="title">
                                Upomínka:
                            </span>
                            <div class="button">
                                <span>Je to urgentní</span>
                                <input n:name="urgent" type="checkbox" class="checkbox" data-check="false">
                                <label n:name="urgent" for=""></label>
                            </div>
                            <div class="button">
                                <span>Upozornit překladatele</span>
                                <input n:name="notification" type="checkbox" class="checkbox" data-check="false">
                                <label n:name="notification" for=""></label>
                            </div>
                            {if !$iterator->first}
                            <div class="separator"></div>
                            <div class="space"></div>
                            <span class="title">
                                Akce:
                            </span>
                            <input n:name="remove" type="submit" class="button" value="Odstranit">
                            {/if}
                        </div>
                    </div>
                    <div n:if="$form['replicator'][$container->getName()]->getErrors()" class="error">
                        <div n:foreach="$form->errors as $error">
                            <div class="divider"></div>
                            {$error}
                        </div>
                    </div>
                </div>
            {/formContainer}
        {/foreach}
    {/formContainer}

    <div class="box panelDemand">
        <div class="add">
            <div class="buttonWrap">
                <div class="plusIcon">
                    <div class="horizontal"></div>
                    <div class="vertical"></div>
                </div>
                <input n:name="add" class="button" type="submit" value="Přidat další poptávku">
                <input n:name="items" type="hidden">
            </div>
        </div>
        <div class="send">
            <input n:name="submit" class="button greenButton" type="submit" value="Odeslat k překladu">
        </div>
    </div>

</form>
{if $newDemandLockJS}
    <script src="../js/ajax/newDemand.js"></script>
{/if}
{/snippet}