{snippet}
    {if isset($data['solved'])}
        <div class="box translator">
            <form n:name="unsolvedTranslationForm" class="ajax">
                <div class="head">
                    <div class="left">
                        <span>Přeložit do {$data['name_lang']}</span>
                        <div class="separator"></div>
                        <span>{$data['name_submitter']}</span>
                    </div>
                    <div class="right">
                        <svg n:if="$data['urgent'] == 1" rel="tooltip" title="Urgentní" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                            <g>
                                <path fill="#e2e2e2" d="M21.818,18.727L11.89,1.499C11.709,1.181,11.391,1,11.028,1c-0.363,0-0.68,0.181-0.861,0.499L0.147,18.816
                                    c-0.454,0.771,0.227,1.496,0.861,1.496h20.039c0.544,0,0.952-0.453,0.952-0.996C22,19.09,21.955,18.908,21.818,18.727z
                                    M2.731,18.318l8.297-14.372l8.297,14.372H2.731z"/>
                                <path fill="#e2e2e2" d="M10.031,8.39v4.397c0,0.545,0.454,0.998,0.998,0.998s0.997-0.453,0.997-0.998V8.39
                                    c0-0.544-0.453-0.998-0.997-0.998S10.031,7.846,10.031,8.39z"/>
                                <path fill="#e2e2e2" d="M11.028,14.646c-0.68,0-1.224,0.543-1.224,1.225c0,0.68,0.544,1.27,1.224,1.27
                                    c0.681,0,1.224-0.59,1.224-1.27C12.252,15.189,11.709,14.646,11.028,14.646z"/>
                            </g>
                        </svg>
                        <svg n:if="$data['note']" rel="tooltip" title="{$data['note']}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px"
                            height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                            <g>
                                <rect x="1" y="1" fill="none" stroke="#e2e2e2 " stroke-width="2" stroke-miterlimit="10" width="20" height="19"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="6" x2="18" y2="6"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="10" x2="18" y2="10"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="14" x2="13" y2="14"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="{if $data['file']}download{/if} width50 paddingRight7px">
                    <textarea readonly="readonly" rows="4" cols="50" class="{if $data['file']}inactive{/if}">{$data['text']}</textarea>
                    <a href="{$baseUrl}/uploads/{$data['file']}" target="_blank" class="button {if $data['text']}inactive{/if}">Stáhnout zadání</a>
                </div>
                <div class="width50 paddingLeft7px inputArea">
                    <textarea n:name="text" class="{if $data['file']}inactive{/if}" placeholder="Zde napište Váš překlad..."></textarea>
                    <input n:name="file" class="{if $data['text']}inactive{/if}" type="file">
                </div>
                <div class="divider"></div>
                <div class="bottom">
                    <span class="datetime">
                        Zadáno {$data['date_of_request']|date:'j.n.Y'} v {$data['date_of_request']|date:'H:i'}.
                    </span>
                    <div class="action">
                        <input n:name="send" class="button greenButton" type="submit" value="Odeslat">
                        <input n:name="id_lang" type="hidden" value="{$data['id_lang_map']}">
                        <input n:name="id_demand" type="hidden" value="{$data['id']}">
                    </div>
                </div>
                <div n:if="$form->hasErrors()" class="error">
                    <div class="divider"></div>
                    <div n:foreach="$form->errors as $error">
                        {if !$iterator->first}
                            <div class="divider"></div>
                        {/if}
                        {$error}
                    </div>
                </div>
            </form>
        </div>
    {else}
        <div class="box translator">
            <form n:name="solvedTranslationForm" class="ajax">
                <div class="head">
                    <div class="left">
                        <span>Přeloženo do {$data['name_lang']}</span>
                        <div class="separator"></div>
                        <span>{$data['name_submitter']}</span>
                    </div>
                    <div class="right">
                        <svg n:if="$data['urgent'] == 1" rel="tooltip" title="Urgentní" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                            <g>
                                <path fill="#e2e2e2" d="M21.818,18.727L11.89,1.499C11.709,1.181,11.391,1,11.028,1c-0.363,0-0.68,0.181-0.861,0.499L0.147,18.816
                                    c-0.454,0.771,0.227,1.496,0.861,1.496h20.039c0.544,0,0.952-0.453,0.952-0.996C22,19.09,21.955,18.908,21.818,18.727z
                                    M2.731,18.318l8.297-14.372l8.297,14.372H2.731z"/>
                                <path fill="#e2e2e2" d="M10.031,8.39v4.397c0,0.545,0.454,0.998,0.998,0.998s0.997-0.453,0.997-0.998V8.39
                                    c0-0.544-0.453-0.998-0.997-0.998S10.031,7.846,10.031,8.39z"/>
                                <path fill="#e2e2e2" d="M11.028,14.646c-0.68,0-1.224,0.543-1.224,1.225c0,0.68,0.544,1.27,1.224,1.27
                                    c0.681,0,1.224-0.59,1.224-1.27C12.252,15.189,11.709,14.646,11.028,14.646z"/>
                            </g>
                        </svg>
                        <svg n:if="$data['note']" rel="tooltip" title="{$data['note']}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px"
                            height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                            <g>
                                <rect x="1" y="1" fill="none" stroke="#e2e2e2 " stroke-width="2" stroke-miterlimit="10" width="20" height="19"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="6" x2="18" y2="6"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="10" x2="18" y2="10"/>
                                <line fill="none" stroke="#e2e2e2" stroke-width="2" stroke-miterlimit="10" x1="4" y1="14" x2="13" y2="14"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="{if $data['file_demand']}download{/if} width50 paddingRight7px">
                    <textarea readonly="readonly" rows="4" cols="50" class="{if $data['file_demand']}inactive{/if}">{$data['text_demand']}</textarea>
                    <a href="{$baseUrl}/uploads/{$data['file_demand']}" target="_blank" class="button {if $data['text_demand']}inactive{/if}">Stáhnout zadání</a>
                </div>
                <div class="width50 paddingLeft7px inputArea {if $data['file']}download{/if}">
                    <textarea n:name="text" readonly="readonly" class="{if $data['file']}inactive{/if}"></textarea>
                    <a href="{$baseUrl}/uploads/{$data['file']}" target="_blank" class="button {if $data['text']}inactive{/if}">Stáhnout překlad</a>
                    <input n:name="file" class="inactive" type="file">
                </div>
                <div class="divider"></div>
                <div class="bottom">
                    <span class="datetime">
                        {if $data['date_of_modification']}
                        Upraveno {$data['date_of_modification']|date:'j.n.Y'} v {$data['date_of_modification']|date:'H:i'}.
                        {else}
                        Odesláno {$data['date_of_request']|date:'j.n.Y'} v {$data['date_of_request']|date:'H:i'}.
                        {/if}
                    </span>
                    <div class="action">
                        <div class="button {if $data['text']}editTranslation{else}editTranslationFile{/if}">Upravit</div>
                        <input n:name="save" type="submit" class="button inactive greenButton" value="Uložit">
                        <div class="button inactive {if $data['text']}cancelTranslation{else}cancelTranslationFile{/if}">Zrušit úpravy</div>
                        <input n:name="id_translation" type="hidden" value="{$data['id']}">
                    </div>
                </div>
                <div n:if="$form->hasErrors()" class="error">
                    <div class="divider"></div>
                    <div n:foreach="$form->errors as $error">
                        {if !$iterator->first}
                            <div class="divider"></div>
                        {/if}
                        {$error}
                    </div>
                </div>
            </form>
        </div>
    {/if}
{/snippet}