body
{
    background-color: #f1f1f1;
    position: relative;
}

.divider
{
    border-top: 1px #e2e2e2 solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1
{
    margin: 0;
    padding-right: 10px;
}

h2
{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.inactive
{
    display: none !important;
}

textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 150%;
    resize: vertical;
    height: 70px;
    display: block;
}

.input
{
    background-color: #f8f8f8;
    border: 0;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 280px;
}

.input:focus, textarea:focus
{
    .boxShadowInset(1px, 1px, 1px, 0px, .1);
}

.button
{
    background-color: #f8f8f8;
    border: 1px #e1e1e1 solid;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -2px;
    box-sizing: border-box;
    .borderRadius(3px);
    .inlineBlock(middle);
    line-height: normal;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    
    span, .arrowBottom
    {
        pointer-events: none;
    }
    
    span
    {
        padding-right: 20px;
    }
    
    .arrowBottom
    {
        .arrowBottom(5px, #333);
        position: absolute;
        right: 12px;
        top: 13px;
    }    
}

.button:hover
{
    background-color: #eeeeee;
    border: 1px #c3c3c3 solid;
}

.greenButton
{
    background-color: #ddfad6;
}

.greenButton:hover
{
    background-color: #ddfad6;
}

input[type="checkbox"]
{
    display:none;
}

.checkbox + label
{
    position: absolute;
    right: 12px;
    top: 11px;
    pointer-events: none;
    .inlineBlock(middle);
    width: 10px;
    height: 10px;
    background-color: #f8f8f8;
    border: 1px #e2e2e2 solid;
    box-sizing: border-box;
    .borderRadius(3px);
}

.checkbox:hover .label
{
    border-color: #333;
}

.checkbox:checked + label
{
    background-color: #333;
    border-color: #333;
}

.selectBox
{
    .inlineBlock(middle);
    position: relative;
    line-height: normal;
}

.submenu
{
    position: absolute;
    display: none;
    top: 30px;
    left: 0;
    list-style-type: none;
    margin: 0;
    line-height: 25px;
    border: 1px #e1e1e1 solid;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    .borderRadius(3px);
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 1;
    
    li
    {
        padding-left: 12px;
        cursor: pointer;
    }
    
    li:hover
    {
        background-color: #f8f8f8;
    }
}