.box
{
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    .boxShadow(1px, 1px, 1px, 0px, .1);
    
    .head, .bottom
    {
        line-height: 35px;
        
        .title
        {
            margin-right: 10px;
        }
        
        .button
        {
            margin-right: 10px;
        }
        
        .selectBox
        {
            margin-right: 10px;
            
            .button
            {
                margin-right: 0;
            }
        }
        
        svg
        {
            .inlineBlock(middle);
            margin-left: 2px;
            margin-right: 2px;
        }
    }
    
    .head
    {
        display: table;
        width: 100%;

        .left, .right
        {
            display: block;
        }
        
        .right
        {
            text-align: left;
        }
    }
    
    .bottom
    {
        display: table;
        width: 100%;
        
        .action, .datetime
        {
            display: block;
        }
        
        .datetime
        {
            text-align: left;
        }
    }
    
    .separator
    {
        .inlineBlock(middle);
        margin-left: 7px;
        margin-right: 7px;
        border-right: 1px #e2e2e2 solid;
        height: 33px;
    }
    
    .download
    {
        position: relative;
        box-sizing: border-box;

        .button
        {
            height: 70px;
            width: 100%;
            text-align: center;
            padding-top: 25px;
            margin-top: 0;
        }
    }
    
    .width50, .width65, .width35
    {
       margin-bottom: 15px;
    }
    
    .inputArea
    {
        input
        {
            height: 70px;
            max-width: 100%;
            cursor: pointer;
            width: 100%;
            background-color: #f8f8f8;
            padding: 15px;
            box-sizing: border-box;
        }
    }
}

@media(min-width: 420px)
{
    .box
    {
        .width50, .width65, .width35
        {
            .inlineBlock(top);
            box-sizing: border-box;
            margin-bottom: 0;
        }
        
        .width50
        {
            width: 50%;
        }
        
        .width65
        {
            width: 65%;
        }
        
        .width35
        {
            width: 35%;
        }
        
        .paddingRight7px
        {
            padding-right: 7px;
        }

        .paddingLeft7px
        {
            padding-left: 7px;
        }
    }
}

@media(min-width: 480px)
{
    .box
    {
        .head
        {
            .left, .right
            {
                display: table-cell;
            }

            .right
            {
                text-align: right;
            }
        }
        
        .bottom
        {
            .left, .right
            {
                display: table-cell;
            }
            
            .action, .datetime
            {
                display: table-cell;
            }

            .datetime
            {
                text-align: right;
            }
        }
    
    }
}