.ledge
{
    background-color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
    border-bottom: 1px rgba(0,0,0,.15) solid;
    
    .user
    {
        background-color: #f8f8f8;
        border-left: #167ac6 2px solid;
        height: 28px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        .inlineBlock(middle);
        line-height: 100%;
        position: absolute;
        right: 10px;
        top: -2px;
    }
    
    .user:hover
    {
        background-color: #eeeeee;
    }
}