.login
{
    .relativeCenter();
    max-width: 640px;
    
    .input:first-child
    {
        margin-bottom: 15px;
    }
    
    .input
    {
        display: block;
    }
    
    .box
    {
        .bottom
        {
            text-align: right;

            .button
            {
                margin-right: 0;
            }
        }
    }
}