.newDemand
{
    .head, .bottom
    {
        .title
        {
            display: block;
            min-width: 70px;
        }

        .button
        {
            min-width: 70px;
            margin-bottom: 16px;
        }
        
        .separator
        {
            display: none;
        }
    }
    
    .head
    {
        .selectCategoryButton
        {
            min-width: 105px;
        }
    }
    
    .bottom
    {
        margin-bottom: -10px;
    }
    
    .tabs
    {
        height: 40px;
        border-bottom: 1px #e2e2e2 solid;
        margin-bottom: 15px;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        
        .button
        {
            margin-bottom: -32px;
            .borderBottomRadius(0);
            margin-right: -4px;
        } 
        
        .active
        {
            background-color: white;
            border-bottom: 1px white solid;
            cursor: text;
        }
        
        .active:hover
        {
            border-top: 1px #e1e1e1 solid;
            border-bottom: 1px white solid;
            border-left: 1px #e1e1e1 solid;
            border-right: 1px #e1e1e1 solid;
        }
    }
}

@media(min-width: 650px)
{
    .newDemand
    {
        .head, .bottom
        {
            .title
            {
                display: inline-block;
            }
            
            .button
            {
                margin-bottom: 0;
            }
            
            .space
            {
                margin-bottom: 12px;
            }
        }
        
        .bottom
        {
            margin-bottom: 0;
        }
    }
}

@media(min-width: 1000px)
{
    .newDemand
    {
        .head, .bottom
        {
            .separator
            {
                display: inline-block;
                margin-left: 1px;
            }
            
            .space
            {
                .inlineBlock(middle);
            }
        }
        
        .head, .bottom
        {
            .title
            {
                min-width: auto;
            }
        }
    }
}