.panelDemand
{
    display: table;
    width: 100%;
    margin-bottom: 0;
    line-height: 35px;
    
    .add, .send
    {
        display: block;
        
        .button
        {
            margin-bottom: 0;
        }
    }
    
    .add
    {
        .button
        {
            padding-left: 23px;
            margin-bottom: 16px;
        }
    }
    
    .buttonWrap
    {
        .inlineBlock(middle);
        position: relative;
        
        .plusIcon
        {
            position: absolute;
            height: 10px;
            width: 10px;
            z-index: 1;
            top: 11px;
            left: 8px;
            pointer-events: none;
            
            > div
            {
                background-color: #333;
                .inlineBlock(middle);
                position: absolute;
            }
            
            .vertical
            {
                width: 2px;
                height: 10px;
                left: 4px;
                
            }
            
            .horizontal
            {
                width: 10px;
                height: 2px;
                top: 4px;
            }
        }
    }
    
    .head
    {
        .button
        {
            margin-bottom: 16px;
            min-width: 70px;
        }
    }
    
    .head, .bottom
    {
        .selectCategoryFilterButton
        {
            min-width: 105px;
        }
        
        .title
        {
            display: block;
            min-width: 32px;
        }
        
        .input
        {
            max-width: 180px;
        }
        
        .selectBox
        {
            margin-top: 0;
        }
    }
    
    .separator
    {
        display: none;
    }
}

@media(min-width: 470px)
{
    .panelDemand
    {
        .add, .send
        {
            display: table-cell;
        }
        
        .add
        {
            .button
            {
                margin-bottom: 0;
            }
        }
        
        .send
        {
            text-align: right;
        }
    }
}

@media(min-width: 1000px)
{
    .panelDemand
    {
        .head, .bottom
        {
            .button
            {
                margin-bottom: 0;
            }
            
            .title, .space
            {
                .inlineBlock(middle);
            }
        }
        
        .separator
        {
            display: inline-block;
            margin-left: 2px;
        }
    }
}