.popup
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    
    .blackWrap
    {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-color: rgba(0,0,0,.8);
        position: absolute;
        top: 0;
        z-index: -1;
    }
    
    .message
    {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 80px;
        z-index: 1;
        line-height: 150%;
    }
    
    .message:first-child
    {
        padding-top: 30px;
    }
    
    .bgWhite
    {
        background-color: white;
    }
    
    .closeCross
    {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 30px;
        cursor: pointer;
        display: inline-block;
        
        svg
        {
            display: inline-block;
            padding-top: 2px;
            box-sizing: border-box;
        }
    }
}