.sentDemand
{
    overflow: hidden;
    
    .owl-item:first-child
    {
        .box
        {
            margin-left: 0;
        }
    }
    
    .box
    {
        margin-bottom: 2px;
        margin-left: 9px;
        margin-right: 1px;
    }

    .owl-prev, .owl-next
    {
        padding: 10px;
        background-color: rgba(0,0,0,.2);
        position: absolute;
        top: 50%;
        height: 65px;
        box-sizing: border-box;
        margin-top: -33px;
        background-color: #f8f8f8;
        border: 1px #e1e1e1 solid;
        .borderBottomLeftRadius(3px);
        .borderTopLeftRadius(3px);
    }
    
    .owl-prev:hover, .owl-next:hover
    {
        background-color: #eeeeee;
        border: 1px #c3c3c3 solid;
    }
    
    .owl-prev
    {
        left: 0;
        display: none;
    }
    
    .owl-next
    {
        right: 0;
    }
    
    .editForm
    {
        width: 100%;
        margin-left: -1px;
    }
}

#snippet--demands
{
    padding-bottom: 10px;
}