.translator
{
    .head, .bottom
    {   
        span
        {
            .inlineBlock(middle);
        }
    }
    
    .bottom
    {
        
        .datetime, .action
        {
            text-align: left;
        }
        
        .button
        {
            margin-right: 12px;
        }
    }
    
}

@media(min-width: 480px)
{
    .translator
    {
        .bottom
        {
            .action
            {
                text-align: right;
            }
            
            .button
            {
                margin-right: 0;
                margin-left: 12px;
            }
        }   
    }
}