<div class="ledge">
    <div class="inner">
        <h1>TRANSLATOR</h1>
        {if $user->isLoggedIn()}
        <a n:href="logout" class="user ajax">
            {$presenter->splitName($user->getIdentity()->name)} | Odhlásit se
        </a>
        {/if}
    </div>
</div>