{snippet loginForm}
    <form n:name="loginForm" class="ajax">
        <input n:name="email" class="input" placeholder="E-mail" type="text" spellcheck="false">
        <input n:name="password" class="input" placeholder="Heslo" type="password">
        <div class="divider"></div>
        <div n:if="$form->hasErrors()" class="error">
            <div n:foreach="$form->errors as $error">
                {$error}
            </div>
            <div class="divider"></div>
        </div>
        <div class="bottom">
            <input n:name=login class="button" type="submit" value="Přihlásit se">
        </div>
    </form>
{/snippet}