body 
{
    font-family: regular;
    font-size: 12px;
    color: #333333;
    
    h1
    {
        font-size: 18px;
        font-family: light;
        font-style: italic;
        font-weight: normal;
        color: #167ac6;
    }

    h2
    {
        font-size: 22px;
        font-family: light;
        font-weight: normal;
    }

    .input
    {
        color: #333;
        font-size: 12px;
        font-family: regular;
        font-style: italic;
        .placeHolder(rgba(51,51,51,.5));
    }

    .button
    {
        color: #333;
        font-size: 12px;
        font-family: bold;
    }
    
    .tabs
    {
        font-size: 12px;
        font-family: bold;
    }

    .error
    {
        color: red;
        font-size: 12px;
        font-family: bold;
    }
    
    textarea
    {
        font-style: italic;
        font-size: 12px;
    }
    
    .inputArea
    {
        input
        {
            color: rgba(51,51,51,.5);
            font-family: regular;
            font-style: italic;
            font-size: 12px;
        }
    }
    
    .submenu
    {
        font-size: 12px;
        font-family: bold;
    }
}

.user
{
    color: #333;
    font-family: bold;
    text-decoration: none;
}

.box
{
    font-size: 0;
    
    .head
    {
        font-family: semibold;
        font-size: 12px;
    }
    
    .bottom
    {
        font-family: semibold;
        font-size: 12px;
        
        .datetime
        {
            font-family: regular;
            font-style: italic;
            font-size: 12px;
        }
    }
}

.popup
{
    .message
    {
        font-family: light;
        font-size: 22px;
        color: #167ac6;
    }
}