{block content}

{include '../components/ledge.latte'}

<div class="inner">
    
    <h2>Nová poptávka k překladu</h2>
    {snippet newDemand}
        {control newDemandControl}
    {/snippet}
    
    <h2>Historie poptávek</h2>
    
    <div class="box panelDemand">
        <div class="head">
            <div class="left">
                <span class="title">Filtr: </span>
                <div class="button">
                    <span>EN</span>
                    <input name="en" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>SK</span>
                    <input name="sk" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>RO</span>
                    <input name="ro" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>SI</span>
                    <input name="si" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>CH</span>
                    <input name="ch" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>HU</span>
                    <input name="hu" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="button">
                    <span>CZ</span>
                    <input name="cz" type="checkbox" class="checkbox" data-check="false">
                    <label for=""></label>
                </div>
                <div class="space"></div>
                <div class="selectBox">
                    <div class="button selectCategoryFilterButton">
                        <span>Vše</span>
                        <div class="arrowBottom"></div>
                    </div>
                    <ul class="submenu selectCategoryFilterBox">
                        <li>Facebook</li>
                        <li>Adwords</li>
                        <li class="inactive">Vše</li>
                    </ul>
                </div>
                <div class="space"></div>
                <input type="text" class="input" placeholder="Obsahuje text...">
            </div>
        </div>
        <div class="divider"></div>
        <div class="head">
            <div class="left">
                <span class="title">Akce: </span>
                <input class="button" type="submit" value="Zobrazit">
                <input class="button" type="submit" value="Exportovat">
                <div class="separator"></div>
                <div class="space"></div>
                <span class="title">Počet zobrazených poptávek: 100</span>
            </div>
        </div>
    </div>
    
    {snippet demands}
        {foreach $sentDemands as $key => $data}
            {snippet sentDemand-$key}
                {control sentDemandControl-$key}
            {/snippet}
        {/foreach}
    {/snippet}
    
</div>