{block content}

{include '../components/ledge.latte'}

<div class="inner">

    {snippet translations}
        
        {snippet unsolvedTranslations}
            {if isset($unsolvedTranslations)}
                {if !empty($unsolvedTranslations)}
                    <h2>Nevyřešené překlady</h2>
                {/if}
                {dump $unsolvedTranslations}
                {foreach $unsolvedTranslations as $key => $data}
                    {control unsolvedTranslationControl-$key}
                {/foreach}
            {/if}
        {/snippet}
        
        {snippet solvedTranslations}
            {if isset($solvedTranslations)}
                {if !empty($solvedTranslations)}
                    <h2>Odeslané překlady</h2>
                {/if}
                {dump $solvedTranslations}
                {foreach $solvedTranslations as $key => $data}
                    {control solvedTranslationControl-$key}
                {/foreach}
            {/if}
        {/snippet}
        
    {/snippet}

</div>